<!DOCTYPE html>
<html lang="en">
<head>
  <title>The Restaurant</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Restaurant" />
  <meta name="keywords" content="Sahril Resto" />
</head>
<body>
  <header class="header">
   <div class="container" id="navbar">
    <a class="skipLink" href="#mainContent">Skip to content</a>
    <nav class="nav">
      <h1 class="nav__logo" tabindex="0">Restaurant</h1>
      <ul class="nav__list" id="drawer">

        <li class="nav__item"><a href="#">Home</a></li>
        <li class="nav__item"><a href="#">Favorite</a></li>
        <li class="nav__item"><a href="#">About</a></li>
      </ul>
      <a id="hamburger">☰</a>
    </nav>
 
   </div>
 

    <div class="hero">
      <div class="hero__content"  tabindex="0">
      <h1>The Restaurant</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, placeat provident. Maiores et quam aperiam architecto voluptatum velit ipsum aspernatur.</p>
      </div>
    </div>
  </header>

  <main>
    <h1 class="headingMain">Restaurant List</h1>
    <p class="headingText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, blanditiis?</p>
    <article id="mainContent">
      <div class="dataAppend" id="card">
      </div>
    </article>
  </main>

  <footer>
    <p>Copyright © 2021 - Restaurant</p>
    <p>Sahril Putra</p>
  </footer>
  
</body>
</html>