<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant Apps Starter Project</title>
</head>
<body>
  <header class="header">
    <div class="container">
      <p class="logo"><a href="#">
        <img src="../public/images/logo/LOGO.png" alt="">
      </a></p>
      <div></div>
      <nav class="__nav">
        <ul class="__ul">
          <li class="__list" ><a href="#">HOME</a></li>
          <li class="__list"><a href="#">FAVORITE</a></li>
          <li class="__list"><a href="#">ABOUT US</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main>
    <h1>Explore restaurant</h1>
    <div class="heroContainer">
      <h1>The Restaurant</h1>
    </div>
  </main>
  <h1>Restaurant Apps Starter Project</h1>

  <script>

  </script>
</body>
</html>