@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;600;700;900&display=swap');

$dark-color: #2d2d2d;
$grey-color : #dedede;
$background-color: #F5F6F8;
$text-color: #AAAAAA;

*{
  padding: 0;
  margin: 0;
  &:before, :after{
  box-sizing: border-box;
  }
}
html{
  scroll-behavior: smooth;
  background-color: $background-color;
}

body{
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

button, input, selec, textarea{
  font: inherit;
}

p,h1,h2,h3,h4,h5,h6{
  overflow-wrap: break-word;
}

// img {
//   display: block;
// }

main{
  width: 100%;
  height: max-content;
  text-align: center;
  h1{
    font-weight: 700;
    margin-top: 1rem;
    font-size: 30px;
  }
  p{
    color: $text-color;
    font-size: 18px;
    font-weight: 400;
  }
}

footer {
  width: 100%;
  height: 90px;
  background: #000;
  color: #fff;
  text-align: center;
  text-align: center;
  justify-items: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  
 p{
  font-size: 14px;
 }:nth-last-child(1){
  font-weight: 700;
 }
}

.res__img{
  width: 120px;
  text-align: center;
  height: 120px;
}

#hamburger{
  font-size: 26px;
  color: #fff;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  box-sizing: 20px;
  position: absolute;
  align-items: center;
  margin-top: 6px;
  top: -4px;
  right: 10px;
  display: none;
  transition: transform 0.3s ease-in-out;
  &:hover{
      color: #dddd;
  }
}

@media (max-width:830px) {
    .dataAppend{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: auto;
    }
    .nav__logo{
      font-size: 20px;
    }
    .nav__list{
      display: none;
    }
    .open{
      position: absolute;
      top: 70px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      text-align: center;
    }
    #hamburger{
      display: inline-block;
      cursor: pointer;
      z-index: 1;
      position: fixed;
    }
  }
@media (max-width:665px) {
    .dataAppend{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: auto;
    }
  }
  
@media (max-width:480px) {
  .hero__content{
    h1{
      font-size: 22px;
    }
    p{
      font-size: 14px;
    }
  }
  .card__title{
    font-size: 16px;
  }
  .card__paraf{
    font-size: 12px;
  }
  }