$dark-color: #2d2d2d;
$grey-color : #dedede;
$background-color: #F5F6F8;
$text-color: #AAAAAA;

* {
  padding: 0;
  margin: 0;

  &:before,
  :after {
    box-sizing: border-box;
  }
}

html {
  scroll-behavior: smooth;
  background-color: $background-color;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

button,
input,
selec,
textarea {
  font: inherit;
}


p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: #000;
}

// img {
//   display: block;
// }

main {
  width: 100%;
  height: max-content;
  text-align: center;

  h1 {
    font-weight: 700;
    margin-top: 1rem;
    font-size: 30px;
  }

  p {
    color: $text-color;
    font-size: 18px;
    font-weight: 400;
  }
}

form {
  width: auto;
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  content: normal;
  width: 80%;
}

footer {
  width: 100%;
  height: 90px;
  background: #000;
  color: #fff;
  text-align: center;
  text-align: center;
  justify-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  p {
    font-size: 14px;
  }

  :nth-last-child(1) {
    font-weight: 700;
  }
}

textarea {
  resize: none;
}

.res__img {
  width: 120px;
  text-align: center;
  height: 120px;
}

#hamburgerBtn {
  z-index: 99 !important;
  font-size: 26px;
  color: #fff;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  box-sizing: 20px;
  position: absolute;
  align-items: center;
  margin-top: 6px;
  top: -4px;
  right: 50px;
  display: none;
  background-color: #000;
  transition: transform 0.3s ease-in-out;
  border: none;

  &:hover {
    color: #dddd;
  }
}

//like btn

.like {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2d2d2d;

  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;

  font-size: 18px;
  color: white;
  cursor: pointer;
}

.without {
  font-weight: 200;
}

.with {
  font-weight: 900;
}

//loader

#loading {
  height: 800px;
  width: 900px;
}

//responsive
@media (max-width:830px) {
  .hero {
    background-image: url(/image/hero-image_1-large.jpg);
  }


  #fav-resto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
  }

  .detail__reviewContainer {
    width: 80%;
    left: 0;
  }

  .detail {
    grid-template-columns: 1fr;
  }

  #mainContent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
  }

  .nav__logo {
    font-size: 20px;
  }

  .nav__list {
    display: none;
  }

  .open {
    position: absolute;
    top: 70px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
  }

  #hamburgerBtn {
    display: inline-block;
    cursor: pointer;
    z-index: 1;
    position: fixed;
  }
}

@media (max-width:665px) {

  .hero {
    background-image: url('../public/images/hero-image_1.jpg');
    background-image: -webkit-image-set(
      url(../public/images/hero-image_1.jpg) 1x,
      url(../public/images/hero-image_1.jpg) 2x,
    );
  }
  #fav-resto {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
  }

  .menu {
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    align-items: baseline;
    gap: 30px;
  }

  #mainContent {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
  }
}

@media (max-width:480px) {
  .hero {
    background-image: url('../public/images/hero-image_1.jpg');
    background-image: -webkit-image-set(
      url(../public/images/hero-image_1.jpg) 3x,
      url(../public/images/hero-image_1.jpg) 4x,
    );
  }
  .menu {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
  }

  .input {
    margin-left: 0;
    padding: 0;
  }

  .hero {
    width: 100%;
    background-size: cover;
    background-position-x: -220px;
    height: 100vh;
  }

  .hero__content {
    h1 {
      font-size: 32px;
    }

    p {
      font-size: 18px;
    }
  }

  .card__title {
    font-size: 16px;
  }

  .card__paraf {
    font-size: 12px;
  }
}