.hero{
    width: 100%;
    min-height: 420px;
    background-image: url("../public/images/heros/hero-image_1.jpg");
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: -2px -23px 127px 50px rgba(0,0,0,0.75) inset;
    -webkit-box-shadow: -2px -23px 127px 50px rgba(0,0,0,0.75) inset;
    -moz-box-shadow: -2px -23px 127px 50px rgba(0,0,0,0.75) inset;
    &__content{
        color: #fff;
        justify-content: center;
        width: 60%;
        margin: auto;
    }
}

.container{
    width: 100%;
    position: fixed;
    transition: background-color 0.2s linear;
}
.nav{
    width: 60%;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    background-color: transparent;
    &__list{
        text-align: right;
        width: 80%;
        justify-items: center;
    }&__item{
        background: black;
        padding: 10px;
        display: inline-block;
        gap: 10px;
        a{
            text-decoration: none;
            color: white;
        }
        :hover{
            color: yellow;
        }
    }h1{
        color: white;
    }
}
